streamlit==1.32.0

# Core ML
sentence-transformers==2.6.1
torch==2.2.2
scikit-learn==1.3.2
numpy==1.24.4
pandas==2.0.3

# HuggingFace minimal
transformers==4.38.2
huggingface-hub==0.20.3

# Ollama integration
ollama==0.1.9

# Utilities
tqdm==4.66.1
requests==2.31.0
python-dotenv==1.0.1

#LangDetect
langdetect==1.0.9